.content {
  margin-top: 15px;
  padding: 30px;
  background-color: $blue-200;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.content__item {
  position: relative;
  aspect-ratio: 4/3;
  background-color: $darkblue;
}
