.intro {
  margin-top: 15px;
  background-color: $lightgreen;
  display: grid;
  grid-template-columns: 2.5fr 4fr 1fr;
  gap: 15px;
}

.intro__item {
  background-color: $green;
  min-width: 160px;
  min-height: 198px;
  position: relative;

  &:last-child {
    grid-column: 3/4;
  }

  &:nth-child(4) {
    grid-column: 1/3;
  }

  &::after {
    position: absolute;
    color: $white;
    font-size: 53px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @for $i from 1 through 5 {
    &:nth-child(#{$i})::after {
      content: "#{$i}";
    }
  }
}
