//global
@import "./global/variables.scss";

//blocks
@import "./blocks/header.scss";
@import "./blocks/page.scss";
@import "./blocks/intro.scss";
@import "./blocks/content.scss";
@import "./blocks/footer.scss";
@import "./blocks/button.scss";
@import "./blocks/popup.scss";
